{% extends 'spacexapp/base.html' %}
{% block title %}Статистика{% endblock %}

{% block content %}
<h1>Статистика файлов</h1>

<!-- Общий размер проанализированных файлов -->
<p>Общий объем файлов, проанализированных в базе данных: {{ total_size_gb|floatformat:2 }} GB</p>

<h2>Файлы по расширениям</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Расширение</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats_by_extension %}
        <tr>
            <td>{{ stat.extension }}</td>
            <td>{{ stat.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Топ 10 самых больших файлов</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Размер (в байтах)</th>
        </tr>
    </thead>
    <tbody>
        {% for file in largest_files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Топ 10 изображений по площади</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Площадь (ширина x высота)</th>
        </tr>
    </thead>
    <tbody>
        {% for image in largest_images %}
        <tr>
            <td>{{ image.name }}</td>
            <td>{{ image.area }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Нет данных о размере изображений</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Топ 10 документов (по количеству страниц)</h2>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Количество страниц</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in largest_docs %}
        <tr>
            <td>{{ doc.name }}</td>
            <td>{{ doc.page_count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

