{% extends 'spacexapp/base.html' %}
{% block title %}Результаты анализа{% endblock %}

{% block content %}
<h1>Результаты анализа</h1>
<p>Общий размер файлов: {{ total_size_gb|floatformat:2 }} ГБ</p>

<h2>Статистика по расширениям</h2>
<ul>
    {% for ext, count in stats_by_extension.items %}
        <li>{{ ext }}: {{ count }} файлов</li>
    {% endfor %}
</ul>

<h2>Самые большие файлы</h2>
<table class="table">
    <thead>
        <tr>
            <th>Имя файла</th>
            <th>Размер (в байтах)</th>
            <th>Путь</th>
        </tr>
    </thead>
    <tbody>
        {% for file in largest_files %}
        <tr>
            <td>{{ file.file_name }}</td>
            <td>{{ file.file_size }}</td>
            <td>{{ file.file_path }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
