{% extends 'spacexapp/base.html' %}

{% block title %}Загрузка CSV{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Загрузите CSV файл</h1>
        <p>Выберите файл CSV и нажмите кнопку для загрузки.</p>

        <!-- Форма для загрузки CSV -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Загрузить</button>
        </form>
    </div>
{% endblock %}
