/* Основные стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: #333;
}

#sidebar {
    background-color: #f0f0f0;
    border-right: 1px solid #ddd;
}

.nav-link.active {
    background-color: #0d6efd;
    color: white;
}

.nav-link {
    font-size: 16px;
    color: #333;
}

.nav-link:hover {
    background-color: #ddd;
}

/* Стиль для основного контента */
main {
    padding: 20px;
}

.container-fluid {
    margin-top: 20px;
}
